
.footer{
    background-color: #1a2940;
}
.sb_footer{
    display: flex;
    flex-direction: column;
}
.sb_footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    text-align: left;
    margin-bottom: 32px;
    margin-top: 30px;
}
.sb_footer-links-div{
    width:150px;
    margin:16px;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    color:#fff;
}

a{
    color:rgb(175,175,179);
    flex-direction: row;
    padding:5px;
    margin-left: 15px;
}
.socialmedia{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.socialmedia a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:60px;
    height:20px;
    background: transparent;
    border-radius:50%;
    font-size:2rem;
    margin-top:3px;
    margin-right: -19px;
    transition:.5s ease;
}
.socialmedia a:hover{
    color:#0ef;

}
.sb_footer-links-div h4{
    font-size: 14px;
    line-height: 17px;
    margin-left:30px;
}
.sb_footer-links_div p{
    font-size: 12px;
    line-height: 15px;
    margin: 8px 0;
    cursor: pointer;
}

.sb_footer-below{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sb_footer-below-links p{
    font-size: 13px;
    line-height: 15px;
    color:rgb(175,175,179);
    font-weight: 600; 
    padding: 5px;
}
 
hr{
    color:#fff !important;
    width:100%
}
.sb_footer-copyright p{
    font-size: 13px;
    line-height: 15px;
    color:rgb(175,175,179);
    font-weight: 600;
    margin-top: 90px;
    align-items: center;
    padding-bottom: 20px;
    margin-left: 30px;
}
@media screen and(max-width:850px){
    .sb_footer-heading h1{
        font-size: 44px;
        line-height: 50px;
    }
}
@media screen and(max-width:550px){
    .sb_footer-heading h1{
        font-size: 34px;
        line-height: 42px;
    }
    .sb_footer-links-div{
        margin:16px 0;
    }
    .sb_footer-btn p{
        font-size: 14px;
        line-height:20px;
    }
    .sb_footer-below{
        flex-direction: column;
        justify-content: left;
    }
    .sb_footer-below-links{
        flex-direction: column;
    }
    .sb_footer-below-links p{
        margin-left: 0px;
        margin-top: 16px;
    }
}

@media screen and(max-width:400px){
    .sb_footer-heading h1{
        font-size: 27px;
        line-height: 38px;
    }
}